In [5]:
import pandas as pd
import numpy as np

In [6]:
f = pd.ExcelFile('Copy of Data analyst Assignment 1 (1).xlsx')

In [7]:
f.sheet_names

['Sheet1', 'customers', 'loan details']

In [9]:
df1 = f.parse(sheet_name = 'customers')
df1.head(5)

,customer_id,firstname,lastname,email,profession
0,100.0,Tomasina,Marcellus,Tomasina.Marcellus@yopmail.com,police officer
1,101.0,Alex,Rodmann,Alex.Rodmann@yopmail.com,developer
2,102.0,Diena,Manolo,Diena.Manolo@yopmail.com,firefighter
3,103.0,Cristine,Yuille,Cristine.Yuille@yopmail.com,firefighter
4,104.0,Dania,Auberbach,Dania.Auberbach@yopmail.com,doctor

In [10]:
df2 = f.parse(sheet_name = 'loan details')

In [11]:
df2.head()

   loan_number   loan_product  amount_pending   due_date  customer_id
0        100.0            NaN          374.69 2020-12-19        440.0
1        101.0           bnpl          688.80 2021-02-14        555.0
2        102.0   vehicle loan          928.87 2021-03-19        250.0
3        103.0  personal loan          433.99 2020-09-07        180.0
4        104.0   vehicle loan          157.55 2020-10-01        597.0

In [13]:
#Basic Data Profiling and QA
df1.info()
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 724 entries, 0 to 723
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  724 non-null    float64
 1   firstname    724 non-null    object
 2   lastname     724 non-null    object
 3   email        724 non-null    object
 4   profession   724 non-null    object
dtypes: float64(1), object(4)
memory usage: 28.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 901 entries, 0 to 900
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   loan_number     901 non-null    float64
 1   loan_product    690 non-null    object
 2   amount_pending  901 non-null    float64
 3   due_date        901 non-null    datetime64[ns]
 4   customer_id     901 non-null    float64
dtypes: datetime64[ns](1), float64(3), object(1)
memory usage: 35.3+ KB

In [17]:
df1.nunique()

customer_id    724
firstname      463
lastname       519
email          724
profession       5
dtype: int64

In [18]:
df2.nunique()

loan_number       901
loan_product        3
amount_pending    894
due_date          451
customer_id       381
dtype: int64

As we can see, df1 can be used as a master table, with primary key Customer_ID, since we have a unique entry for Customer ID.
With df2, there are values to be filled in AFTER examining the dataset in detail (for loan_product column)

After examining the dataset, I have decided to fill the missing values in loan_product as 'Not Mentioned/Missing', and not as 'No Loan', since they have an associated pending amount with them, and this data cannot be ignored.

In [19]:
df2['loan_product'].fillna('Not Specified',inplace=True)

In [20]:
df2.isna().sum()

loan_number       0
loan_product      0
amount_pending    0
due_date          0
customer_id       0
dtype: int64

In [ ]:
df1.to_csv('Customers.csv',index=False)